.sticker-thumb {
    width: 150px;
    height: 150px;
    margin:5px;
    cursor: grab;
}

.brand-logo {
    width: 30px;
    margin-top: -5px;
    margin-right: -10px;
}

.card {
    background-color: rgb(233,233,233);
    border-radius: 10px;
    height: 650px;
}

.photo-area {
    margin : 5px;
}

.sticker-area {
    margin: 5px;
}

.btn-stkr-upload {
    margin-top: 17px;
    margin-left: 12px;
}

.file-input{
    margin-left: 35%;
    margin-top: 50%;
}

.btn-startover {
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-left: 40%;
}

.grab {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.grab:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
