.sticker-thumb {
    width:150px;
    height: 150px;
    margin:5px;
}

.brand-logo {
    width: 30px;
    margin-top: -5px;
    margin-right: -10px;
}

.card {
    background-color: rgb(233,233,233);
    border-radius: 10px;
    height: 650px;
}

.photo-area {
    margin : 5px;
}

.sticker-area {
    margin: 5px;
}

.btn-stkr-upload {
    margin-top: 17px;
    margin-left: 12px;
}

.file-input{
    margin-left: 35%;
    margin-top: 50%;
}
