<div class="container">
<div class="photo-area col-md-9">
       <div ng-controller="PhotoCtrl">
            <div class="row">
                <button class="button" ng-if=isPhotoLoaded() ng-click=StartOver()> Start Over </button>

            </div>
                <div style="margin-top:100px" sticker-drop-zone class="well">
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                    Something goes here <br>
                </div>
                <div  ng-repeat="image in images">
                 <img class="thumbnail" ng-src="{{image}}" />
                </div>
          <input ng-if=!isPhotoLoaded() type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
</div>
</div>
<div class="sticker-area col-md-3">
<div ng-controller="StickerCtrl">


<div class="well">
<center>
    <button class="button" ng-click=open()> Upload Sticker </button>
</center>
</div>

<div ng-repeat="sticker in stickers">
<img sticker-draggable draggable="true" id="nkumar" class="sticker-thumb" ng-src="{{sticker.image}}">
<label> {{sticker.title}} </label>
</div>

</div>
</div>
</div>
</div>
</div>

 
