<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class="brand-logo" src="images/logo.jpeg">
      </a>
      <a class="navbar-brand" href="#">Blip Sticker</a>
    </div>
  </div>
</nav>

<div class="container">
    <!-- Canvas area -->
    <div class="photo-area card col-md-offset-2  col-md-5">
        <div ng-controller="PhotoCtrl">
            <input ng-show=!isPhotoLoaded() type='file' image-upload=image class="file-input"/>
            <div class="row">
                <button class="btn btn-primary" ng-if=isPhotoLoaded() ng-click=StartOver()> Start Over </button>
            </div>
            <canvas ng-show=isPhotoLoaded() width="450px" height="600px" sticker-droparea load-image={{image}}></canvas>
        </div>
    </div>

    <!-- sticker column -->
    <div class="sticker-area card col-md-2" ng-controller="StickerCtrl">
             <button class="btn btn-md btn-primary btn-stkr-upload" ng-click=open()> 
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Sticker 
            </button>
            <div ng-repeat="sticker in stickers">
                <img sticker-drag class="sticker-thumb" ng-src="{{sticker.image}}">
                <label> {{sticker.title}} </label>
            </div>
    </div>
</div>

